In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
alsfrs_orig_raw = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/본 실험/ALSFRS_original.csv')
fvc_raw = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/본 실험/fvc.csv')
weight_raw = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/본 실험/weight.csv')

In [3]:
alsfrs_orig = alsfrs_orig_raw.sort_values(by=['SubjectID','feature_delta'], axis=0).reset_index().drop(columns='index')
fvc = fvc_raw.sort_values(by=['SubjectID', 'feature_delta'], axis=0).reset_index().drop(columns='index')
weight = weight_raw.sort_values(by=['SubjectID', 'feature_delta'], axis=0).reset_index().drop(columns='index')

### Creating target object

 01. Subtracting [FVC < 50]

In [4]:
fvc_a = fvc.groupby('SubjectID').agg(['first', 'last'])
fvc_a = fvc_a.reset_index()
fvc_a

     SubjectID fvc_percent      feature_delta
                     first last         first last
0           89          75   75             0    0
1          329          98   93             0  274
2          406          83   83             0    0
3          411          79   79             0    0
4          533          77   70             0   12
...        ...         ...  ...           ...  ...
7307    999482          79   33             0  434
7308    999823         103   94             0  184
7309    999863          40   36             0  177
7310    999880          53   49             0  266
7311    999990          83   74             0  126

[7312 rows x 5 columns]

In [5]:
# Remove rows with 'last feature_delta == first feature_delta'
fvc_a = fvc_a[fvc_a[('feature_delta', 'last')]!= fvc_a[('feature_delta', 'first')]]
# Select rows with 'first fvc_percent < 50'
fvc_a = fvc_a[fvc_a[('fvc_percent', 'first')]<50]
fvc_a = fvc_a.reset_index().drop(columns='index')
fvc_a

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:3889: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

    SubjectID fvc_percent      feature_delta
                    first last         first last
0        5291          20    6             0   47
1        6673          21    0             1   73
2       12890          30   12             0  273
3       13147          26   13             0   97
4       16459          28   13             0  130
..        ...         ...  ...           ...  ...
231    981656          15   42             0  180
232    983115          46   60             0  388
233    988844          40   25             0   85
234    991654          36   14             0  182
235    999863          40   36             0  177

[236 rows x 5 columns]

In [6]:
fvc_extent_to_remove = list(fvc_a['SubjectID'])

2. Subtracting [first ALSFRS-Bulbar < 8.0]

In [7]:
alsfrs_B = alsfrs_orig[['SubjectID', 'feature_delta', 'mouth']].reindex(columns=['SubjectID', 'mouth', 'feature_delta'])
alsfrs_B_a = alsfrs_B.groupby('SubjectID').agg(['first'])
alsfrs_B_b = alsfrs_B_a[alsfrs_B_a[('mouth','first')]>8].reset_index()
alsfrs_B_b

     SubjectID mouth feature_delta
               first         first
0          329  11.0             0
1          348  12.0             0
2          708   9.0             0
3          902  11.0             7
4         1234   9.0             0
...        ...   ...           ...
5205    999166  10.0            18
5206    999482  10.0             0
5207    999823   9.0             9
5208    999880  12.0             0
5209    999990  11.0            12

[5210 rows x 3 columns]

In [8]:
alsfrs_filtered_extent = list(alsfrs_B_b['SubjectID'])

3. Calculating "time to [ALSFRS-B <= 8]"

In [9]:
# Subtract [FVC < 50] & [first ALSFRS-Bulbar < 8.0]
alsfrs_B.query("SubjectID == {0}".format(alsfrs_filtered_extent), inplace=True)
alsfrs_B = alsfrs_B[~alsfrs_B['SubjectID'].isin(fvc_extent_to_remove)]

In [10]:
# Find the first time of [mouth <= 8]
Bulbar_event = alsfrs_B[alsfrs_B['mouth']<=8].groupby('SubjectID').agg(['first']).reset_index()
Bulbar_event

     SubjectID mouth feature_delta
               first         first
0          708   8.0            35
1         1234   8.0            11
2         1736   7.0            48
3         3085   8.0           118
4         5067   5.0            98
...        ...   ...           ...
1870    998756   8.0            35
1871    998894   8.0           191
1872    999166   8.0           319
1873    999482   7.0            80
1874    999823   7.0            91

[1875 rows x 3 columns]

In [11]:
# Coding [Bulbar<=8] event as '1'
Bulbar_event_1 = Bulbar_event.iloc[:, [0,-1]]
Bulbar_event_1.columns = ['SubjectID', 'time_B']

Bulbar_event_1_sublist = list(Bulbar_event['SubjectID'])

Bulbar_event_1['status_B'] = 1
print("There are",len(Bulbar_event_1['SubjectID'].unique()), "subjects whose status_B = 1")

There are 1875 subjects whose status_B = 1

In [12]:
# Otherwise '0'
Bulbar_event_0 = alsfrs_B[~alsfrs_B['SubjectID'].isin(Bulbar_event_1_sublist)]
Bulbar_event_0 = Bulbar_event_0.groupby('SubjectID').agg(['last']).reset_index().drop(columns=('mouth', 'last'))
Bulbar_event_0.columns = ['SubjectID', 'time_B']
Bulbar_event_0['status_B'] = 0
print("There are",len(Bulbar_event_0['SubjectID'].unique()), "subjects whose status_B = 0")

There are 3263 subjects whose status_B = 0

In [13]:
alsfrs_B_coded = pd.concat([Bulbar_event_1, Bulbar_event_0]).sort_values(by='SubjectID', axis=0)
alsfrs_B_coded

      SubjectID  time_B  status_B
0           329     274         0
1           348     401         0
0           708      35         1
2           902     154         0
1          1234      11         1
...         ...     ...       ...
1872     999166     319         1
1873     999482      80         1
1874     999823      91         1
3261     999880     266         0
3262     999990     126         0

[5138 rows x 3 columns]

4. Calculating "time to [weight loss >=10%]"

In [14]:
len(weight['SubjectID'].unique())

7588

In [15]:
# Subtract [FVC < 50] & [first ALSFRS-Bulbar < 8.0]
weight.query("SubjectID == {0}".format(alsfrs_filtered_extent), inplace=True)
weight = weight[~weight['SubjectID'].isin(fvc_extent_to_remove)]

In [16]:
weight_a = weight.groupby('SubjectID').agg(['first'])
weight_a.columns = ['initial_weight', 'feature_delta']
D = weight_a.to_dict()
weight_dict = D['initial_weight']

In [17]:
weight_IDs = list(weight_a.reset_index()['SubjectID'])

In [18]:
weight_dict.keys()

dict_keys([329, 348, 708, 902, 1234, 1309, 1736, 2492, 2540, 2598, 2956, 3085, 3809, 3971, 3981, 4390, 4752, 4772, 4918, 5067, 5155, 5588, 5658, 5773, 5918, 5936, 6747, 6786, 7399, 7468, 7750, 7795, 7799, 7824, 7835, 7858, 8150, 8227, 8258, 8480, 8586, 8708, 8709, 9100, 9469, 9494, 9641, 9821, 10059, 10136, 10244, 10253, 10456, 10517, 10584, 10956, 10995, 11052, 11081, 11684, 11800, 11813, 11941, 12118, 12485, 12826, 12856, 13105, 13165, 13212, 13503, 13613, 14096, 14465, 14836, 14840, 15472, 15511, 16030, 16483, 16497, 16656, 16782, 17035, 17090, 17179, 17390, 17603, 17703, 17756, 17760, 17864, 17937, 17959, 18216, 18304, 18341, 18424, 18470, 18747, 19174, 19225, 19246, 19256, 19344, 19574, 19613, 19764, 20121, 20417, 20626, 20801, 20912, 21508, 22671, 22674, 22741, 22904, 23315, 23364, 23479, 23509, 23719, 23939, 23973, 24198, 24428, 24570, 24571, 24755, 25214, 25280, 25745, 25800, 25941, 26066, 26082, 26114, 26279, 26540, 26556, 26577, 26673, 26814, 26830, 27214, 27463, 27577, 27616, 27702, 27928, 28045, 28515, 28941, 29103, 29253, 29543, 29710, 29913, 30381, 30641, 31318, 31375, 31556, 31567, 31848, 31916, 32358, 32723, 32736, 32933, 32946, 33311, 33770, 33919, 34152, 34288, 34400, 34666, 34678, 34922, 34957, 35295, 35434, 35593, 35640, 36997, 37171, 37183, 37355, 37629, 38121, 38444, 38510, 38898, 38991, 39458, 39510, 39653, 39760, 40173, 40657, 40874, 41382, 41396, 41639, 41662, 41875, 41878, 41981, 42111, 42233, 42389, 42392, 42433, 42967, 43427, 43740, 44757, 44828, 44886, 45160, 45164, 45172, 45398, 45555, 45781, 46196, 46525, 46794, 46949, 47125, 47340, 47568, 48070, 48123, 48317, 48397, 48616, 48663, 49322, 49799, 49938, 50086, 50297, 50342, 50668, 50891, 50905, 51481, 51753, 52381, 52416, 52510, 52635, 52705, 52987, 53070, 53301, 53438, 53743, 53959, 54014, 54044, 54232, 54364, 54764, 55063, 55245, 55265, 55543, 55570, 55600, 55636, 55651, 56147, 56154, 56172, 56207, 56618, 56701, 56741, 56751, 57438, 57477, 57578, 57758, 57877, 57988, 58056, 58235, 58242, 58741, 59007, 59160, 59268, 59405, 59942, 60104, 60843, 60885, 61366, 61505, 61916, 62544, 62676, 62720, 62767, 62891, 62953, 63021, 63106, 63255, 63670, 63880, 63944, 64257, 64665, 64724, 64812, 65291, 65325, 65468, 65805, 65845, 66136, 66166, 66700, 66853, 66909, 67104, 67139, 67179, 67251, 67596, 67614, 67811, 67857, 67865, 68000, 68044, 68206, 68343, 68390, 68441, 68576, 68823, 68949, 69244, 69563, 70157, 70226, 70436, 70833, 70914, 71211, 71289, 71293, 71687, 71698, 72214, 72222, 72319, 72337, 72818, 72887, 73178, 73301, 74056, 74855, 74899, 75334, 75396, 75445, 75612, 75622, 75990, 76092, 76154, 76359, 76548, 76640, 76650, 76698, 76739, 77402, 77643, 78224, 78752, 78982, 79206, 79211, 79303, 79517, 79580, 80140, 80168, 80182, 80580, 80681, 80931, 80985, 81246, 81587, 81991, 82284, 82514, 82520, 82665, 83244, 83822, 83883, 84427, 84635, 84853, 84936, 85122, 85346, 85415, 85465, 85731, 85927, 86242, 86259, 86578, 86671, 86901, 86928, 87055, 87474, 87507, 87638, 88338, 88855, 88857, 89152, 89315, 90045, 90182, 90323, 90757, 90835, 90920, 90949, 91128, 92787, 93423, 93510, 93570, 93654, 93951, 93998, 94103, 94347, 94408, 94416, 94578, 94647, 94666, 94671, 94787, 94797, 95131, 95441, 95844, 96135, 96395, 96423, 96891, 97524, 97654, 97985, 98291, 98303, 98510, 98762, 99300, 99728, 100256, 100272, 100603, 100626, 100806, 100962, 100981, 101154, 101247, 101265, 101315, 101480, 101645, 102107, 103126, 103350, 103410, 103471, 103688, 103844, 104179, 104403, 104499, 104534, 104535, 104653, 104703, 104777, 104930, 105484, 105932, 106408, 106932, 106936, 106943, 107064, 107208, 107298, 107359, 107444, 107564, 107583, 107611, 107828, 107935, 107980, 108152, 108184, 108342, 108479, 108674, 108830, 109265, 109272, 109277, 109293, 109303, 109459, 109528, 109864, 109985, 110207, 110278, 110295, 110416, 110495, 110956, 111580, 111773, 112203, 112610, 112665, 112667, 112700, 112725, 113151, 113208, 113250, 113294, 113371, 113877, 113955, 114523, 114794, 114814, 114841, 114911, 115196, 115323, 115339, 115373, 115884, 115915, 116067, 116211, 116604, 116812, 116843, 117204, 117340, 117917, 118217, 118237, 118398, 118511, 118770, 118897, 118948, 118949, 119051, 119388, 119554, 119774, 119785, 120033, 120105, 120314, 120511, 120700, 120730, 120732, 120789, 120896, 120898, 120918, 120972, 121259, 121268, 121416, 121638, 121870, 121936, 121986, 122184, 122241, 122484, 123093, 123480, 123606, 123619, 123708, 123794, 123871, 123993, 124875, 125143, 125355, 125381, 125602, 125684, 125810, 125848, 126060, 126136, 126279, 126658, 126821, 127039, 127302, 127889, 128126, 128384, 128390, 128776, 129345, 129607, 129710, 129721, 129803, 130492, 130620, 130719, 130963, 131079, 131111, 131373, 131490, 132270, 132646, 132650, 132673, 132941, 133080, 133228, 134154, 134289, 134476, 134716, 134770, 134813, 135045, 135750, 135845, 136288, 136390, 136406, 136432, 136474, 136479, 136873, 137890, 138093, 138119, 138179, 138665, 139028, 139075, 139158, 139189, 139263, 139595, 139808, 139816, 139968, 140126, 140140, 140593, 141037, 141533, 142087, 142368, 142395, 142586, 142969, 143180, 143341, 143384, 143468, 143626, 143632, 143878, 143971, 143973, 144106, 144165, 144179, 144196, 144256, 144261, 144393, 144419, 144483, 144592, 144595, 144790, 144869, 144949, 145324, 145440, 145780, 146019, 146038, 146078, 146089, 146710, 147061, 147304, 147813, 147872, 147882, 148120, 148297, 148626, 149074, 149159, 149209, 149211, 149252, 149526, 149729, 149816, 149831, 150242, 151242, 151348, 151434, 151588, 151738, 152271, 152427, 152435, 152453, 152989, 153138, 153252, 153612, 154140, 154153, 154335, 154414, 154470, 155291, 155357, 155435, 155497, 155551, 155668, 155671, 155771, 155779, 155994, 156289, 156455, 156538, 156721, 156818, 156955, 156966, 156980, 157020, 157051, 157314, 157614, 157976, 158011, 158083, 158115, 158247, 158543, 158566, 158729, 159018, 159337, 159481, 159616, 159892, 160209, 160261, 160359, 160812, 160936, 161193, 161208, 161271, 161301, 161569, 162081, 162460, 162501, 162601, 162752, 162948, 163050, 163309, 163682, 163879, 163905, 164339, 164690, 164814, 164878, 164883, 164909, 165010, 165060, 165131, 165141, 165183, 165192, 165416, 165436, 165856, 165883, 166026, 166132, 166215, 166254, 166416, 166455, 166714, 166809, 166844, 166955, 167196, 167255, 167631, 167695, 167812, 167883, 168046, 168314, 168488, 168510, 168598, 169105, 169905, 170430, 170640, 170886, 171202, 171511, 171614, 171663, 171717, 171739, 171852, 171904, 172515, 172518, 172526, 173029, 173311, 173372, 173721, 174017, 174064, 174344, 174404, 174661, 174667, 174769, 175001, 175060, 175197, 175218, 175300, 175354, 175440, 175646, 175751, 175813, 175839, 175981, 176039, 176131, 176387, 176570, 176608, 176976, 177044, 177249, 177429, 177498, 177524, 177566, 177649, 177725, 178280, 178353, 178624, 178807, 178935, 179354, 179679, 179932, 180393, 181358, 181398, 181721, 181901, 182278, 182325, 182854, 182860, 183065, 183177, 183623, 184273, 184307, 184457, 184533, 184782, 184838, 184910, 185104, 185175, 185190, 185249, 185356, 185588, 186232, 186599, 187782, 188143, 188226, 188241, 188692, 189244, 189413, 189434, 189767, 190156, 190555, 190645, 190665, 190704, 190942, 191079, 191701, 192118, 192626, 192709, 192728, 192968, 193140, 193178, 193342, 193404, 193583, 193629, 193769, 193817, 194137, 194252, 194424, 194543, 195092, 195123, 195340, 195420, 196046, 196566, 196639, 196767, 197053, 197147, 197171, 197213, 197306, 197354, 197943, 198084, 198315, 198374, 198489, 198571, 198929, 199160, 199194, 199244, 199494, 199862, 199926, 200313, 200330, 200569, 200587, 201476, 201547, 201680, 201972, 202517, 202556, 202701, 202782, 202922, 202975, 203080, 203351, 203751, 204029, 204157, 204424, 204609, 204644, 205052, 205289, 205301, 206290, 206384, 206862, 206993, 207189, 207827, 208315, 208616, 208744, 208862, 209414, 209971, 210074, 210591, 210768, 211149, 211353, 211386, 211464, 211529, 211599, 211669, 212440, 212700, 212868, 213653, 213856, 214294, 214325, 214456, 214550, 214946, 215133, 215285, 215505, 216187, 216472, 216519, 217162, 217403, 217424, 217432, 217854, 218343, 218348, 219375, 219430, 219741, 219994, 220575, 220629, 220742, 220912, 221065, 221158, 221580, 221689, 221797, 222350, 222631, 222805, 222807, 222865, 223013, 223847, 223899, 223914, 223963, 224387, 224468, 224601, 224639, 224676, 225587, 225656, 225998, 226292, 226328, 226486, 226626, 226657, 227014, 227295, 227422, 227566, 227772, 227807, 228366, 229477, 229601, 229657, 230289, 230653, 230778, 230795, 231304, 231647, 232015, 232608, 232800, 233078, 233105, 233348, 233356, 233367, 233463, 233493, 233569, 233637, 233959, 234045, 234426, 235025, 235139, 235430, 235598, 235815, 235883, 235884, 236214, 236310, 237360, 237414, 237575, 237602, 237872, 238016, 238017, 238034, 238085, 238104, 238192, 238222, 238506, 238638, 238760, 238931, 239304, 239612, 240357, 240533, 240579, 240623, 241028, 241640, 241935, 242479, 242758, 243307, 243510, 243532, 244084, 244185, 244984, 245009, 246015, 246110, 246269, 246392, 246795, 247141, 247272, 247648, 247984, 248603, 248613, 248719, 248721, 248745, 248774, 249049, 249308, 249374, 249439, 249849, 250006, 250391, 250682, 250896, 250930, 251103, 251134, 251139, 251184, 251579, 251619, 252105, 252256, 252430, 252453, 252937, 253113, 253162, 253184, 253557, 253794, 253978, 254145, 254204, 254341, 254483, 254814, 254915, 255181, 255235, 255399, 255515, 255656, 255718, 256042, 256110, 256789, 256977, 257184, 257245, 257302, 257372, 257462, 257590, 258106, 258176, 258290, 258370, 258593, 258971, 260194, 260425, 260575, 260929, 261892, 262003, 262033, 262092, 262418, 262445, 262653, 262690, 262925, 263015, 263170, 263214, 263244, 263538, 263930, 264142, 264307, 264482, 264864, 265097, 265263, 265485, 265963, 266020, 266370, 266694, 266905, 267118, 267224, 267647, 267702, 267900, 268735, 268831, 268863, 269593, 269713, 269807, 269990, 270396, 271012, 271560, 272068, 272242, 272619, 272672, 273318, 273453, 273578, 273764, 273771, 273806, 274153, 274212, 274741, 274996, 275231, 275315, 275355, 275923, 275992, 276052, 276480, 276520, 276740, 276750, 276814, 277127, 277165, 277219, 277323, 277443, 277461, 278050, 279075, 279382, 279488, 279597, 279610, 279881, 280442, 280725, 281188, 281303, 281709, 281780, 282304, 282541, 282600, 282693, 283243, 283252, 283478, 283573, 284171, 284413, 284470, 284634, 284644, 284770, 284948, 285185, 285559, 285644, 285905, 286061, 286423, 286972, 287186, 287320, 288209, 288540, 289061, 289071, 289598, 289667, 289713, 289725, 289752, 290175, 290185, 290510, 290657, 291081, 291211, 291223, 291336, 291408, 291886, 292218, 292635, 292698, 292849, 293217, 293411, 293669, 293821, 293890, 294214, 294244, 294292, 294355, 294657, 294783, 295110, 295725, 295777, 295908, 296354, 296752, 296781, 296847, 296910, 296915, 297048, 297327, 297428, 297467, 297697, 297730, 297762, 297777, 297933, 297968, 298273, 298291, 298715, 298735, 299049, 299315, 299395, 299692, 300005, 300126, 300274, 300630, 300789, 300815, 300934, 300946, 301240, 301975, 302125, 302375, 302988, 303708, 303885, 303932, 304043, 304374, 304568, 304652, 304938, 304956, 305007, 305626, 305668, 306143, 306277, 306303, 306554, 306596, 306599, 306904, 307024, 307044, 307120, 307485, 308101, 308204, 308309, 308402, 308450, 308624, 308719, 308806, 308931, 309002, 309035, 309050, 309659, 309686, 309804, 310105, 310190, 310614, 310680, 310692, 311736, 311763, 311955, 312440, 312460, 312530, 312701, 312748, 312885, 313112, 313336, 313498, 313727, 314300, 314475, 314537, 314845, 315535, 315571, 315813, 315843, 315848, 315849, 316037, 316177, 316193, 316680, 316806, 316862, 316900, 317177, 317375, 317384, 317573, 317619, 317702, 317752, 317962, 317967, 318162, 319041, 319859, 320064, 320395, 320402, 320533, 320688, 320718, 321019, 321470, 321633, 321722, 321910, 322110, 322268, 322500, 323360, 323417, 323504, 323803, 323840, 324660, 324984, 325029, 325092, 325997, 326399, 326442, 326467, 326623, 327201, 327338, 327680, 327760, 328285, 328450, 328542, 328747, 328873, 329306, 329479, 329777, 329798, 330073, 330221, 330438, 330488, 330665, 330811, 331035, 331651, 331788, 331955, 331965, 332055, 332380, 332455, 332465, 332486, 332661, 332943, 333053, 334451, 334473, 334673, 334776, 334830, 335190, 335254, 335344, 335556, 335652, 336522, 336552, 336749, 336763, 336849, 337084, 337412, 337662, 337720, 337813, 337824, 338253, 338261, 338284, 338535, 338562, 338690, 339193, 339245, 339386, 339613, 340042, 340043, 340072, 340180, 340312, 340335, 340359, 340458, 340507, 340616, 340800, 340801, 340831, 340898, 340986, 341038, 341058, 341248, 341503, 341518, 341564, 341816, 341870, 341901, 342230, 342662, 342944, 343105, 343156, 343493, 343546, 343656, 343665, 344260, 344295, 344324, 344513, 344950, 344987, 345423, 345472, 345987, 346520, 346678, 347313, 347460, 347571, 347789, 347997, 348109, 348471, 348569, 348854, 349394, 349422, 349692, 350380, 350423, 351503, 352009, 352169, 352683, 352908, 352948, 353192, 353393, 353674, 353687, 353798, 353816, 353922, 354579, 354603, 354651, 354813, 354912, 355222, 355505, 355574, 355639, 356609, 356648, 356841, 356878, 356918, 356985, 357017, 357171, 357563, 358108, 358176, 358414, 358523, 359185, 359917, 360154, 360295, 360971, 361087, 361219, 361500, 361522, 361845, 362224, 362280, 362380, 362495, 362836, 362926, 363244, 363634, 363780, 363969, 364151, 364353, 364548, 364696, 364896, 365008, 365289, 365673, 366149, 366366, 366740, 366777, 366825, 366848, 366998, 367165, 367353, 367375, 367481, 367663, 367720, 368070, 368235, 368304, 368423, 368464, 368526, 368742, 369016, 369149, 369359, 369425, 369426, 369456, 369755, 369801, 371301, 371785, 371943, 372072, 372113, 372140, 372234, 372976, 373169, 373192, 373418, 373977, 373996, 374107, 374659, 374694, 374740, 374762, 374931, 375285, 375308, 375559, 375607, 375710, 375799, 375904, 375915, 376038, 376343, 376346, 376378, 376648, 376662, 376854, 376957, 376963, 377197, 377231, 377360, 377401, 377423, 377636, 377679, 377772, 377953, 378000, 378046, 378288, 378395, 378622, 378671, 378973, 379343, 379417, 379457, 379488, 380086, 380129, 380355, 380358, 380360, 380514, 380647, 380788, 381247, 381410, 381622, 381766, 381856, 381959, 382201, 382488, 382569, 382689, 382706, 382799, 382825, 382892, 383073, 383360, 383511, 383705, 383739, 383817, 383973, 384490, 384660, 384834, 385050, 385111, 385525, 385584, 385652, 385839, 385848, 386458, 387677, 387721, 388031, 388115, 388351, 388415, 388482, 388655, 388970, 389153, 389194, 389267, 389513, 390008, 390036, 390556, 390624, 391089, 391288, 391318, 391584, 392130, 392485, 392565, 392780, 393075, 393208, 393480, 393726, 393760, 394283, 394351, 394455, 395053, 395371, 395441, 395511, 395519, 395596, 395826, 396125, 397045, 397193, 397422, 397431, 397722, 397947, 398097, 398416, 398484, 398596, 398930, 398953, 399008, 399080, 399115, 399250, 399319, 399842, 399897, 400300, 400349, 400396, 400644, 400991, 401812, 401976, 402322, 402360, 402673, 402682, 402803, 402877, 403239, 403243, 403357, 403620, 404061, 404431, 404486, 404744, 405413, 405910, 405985, 406088, 406110, 406195, 406412, 406533, 407319, 407830, 408008, 408104, 408282, 408337, 408472, 408588, 408610, 408719, 408780, 409178, 409379, 409601, 409773, 409806, 409968, 410318, 410451, 411021, 411188, 411235, 411355, 412301, 412551, 412916, 413145, 413147, 413163, 413216, 413319, 413412, 413742, 413771, 413870, 413889, 414305, 414306, 414628, 414677, 414718, 414829, 415036, 415146, 415319, 415338, 415370, 415471, 415669, 415873, 415973, 416222, 416558, 416633, 416756, 417404, 417938, 417966, 417985, 418029, 418177, 418185, 418748, 418778, 419163, 419267, 419435, 419442, 419443, 419718, 419951, 419956, 420065, 420127, 420254, 420283, 420399, 420551, 420792, 421119, 421146, 421158, 421181, 421487, 422293, 422297, 422356, 422880, 422954, 422985, 423112, 423198, 423355, 423529, 423646, 423788, 423877, 424072, 424119, 424497, 424530, 424568, 424596, 424853, 424946, 424981, 425198, 425359, 425564, 426069, 426173, 426220, 426609, 426756, 426830, 426906, 426994, 427064, 428070, 428134, 428183, 428204, 428299, 428697, 428780, 428787, 428863, 429048, 429695, 429903, 430805, 431091, 432183, 432206, 432220, 432450, 433213, 433630, 433834, 433855, 433933, 434035, 434044, 434856, 434951, 435086, 435167, 435193, 435223, 435458, 435512, 435601, 436308, 436744, 436746, 437542, 438001, 438061, 438564, 438613, 438750, 439350, 439507, 439744, 439859, 439863, 440504, 440517, 440763, 440867, 441261, 441478, 441498, 441872, 441988, 442129, 442131, 442503, 442535, 442729, 442832, 442938, 442984, 443059, 443112, 443174, 443302, 444170, 444502, 444955, 445044, 445220, 445365, 445546, 445636, 445678, 445695, 445990, 446011, 446773, 446853, 447090, 447455, 447516, 447682, 448302, 448367, 448372, 448447, 448524, 448795, 449252, 449609, 450125, 450346, 450493, 450518, 450738, 450879, 450923, 451161, 451166, 451699, 451708, 451847, 451880, 452012, 452218, 452570, 453588, 453825, 453945, 454456, 454494, 454546, 454592, 455073, 455263, 455310, 455400, 455504, 455672, 455932, 456119, 456147, 456462, 456872, 456990, 457078, 457082, 457226, 457607, 457638, 457815, 458034, 458578, 458659, 458886, 458999, 459046, 459159, 459600, 459760, 459917, 459952, 460130, 460569, 460929, 461064, 461202, 461831, 461999, 462162, 462403, 463012, 463053, 463137, 463401, 463608, 463668, 464023, 464515, 464891, 464908, 465036, 465115, 465847, 466034, 466314, 466318, 466861, 467914, 467998, 468194, 468426, 468503, 469008, 469550, 469726, 469749, 469936, 470683, 470715, 470763, 470999, 471064, 471361, 471666, 471724, 471734, 471900, 472217, 472309, 472907, 473310, 473802, 473846, 474237, 474710, 475001, 475617, 475978, 476220, 477322, 477518, 477981, 478241, 478857, 479286, 479376, 479508, 479908, 480046, 480107, 480483, 480577, 480692, 480811, 481007, 481060, 481580, 481918, 481973, 481988, 482146, 482564, 482793, 482856, 482961, 483079, 483435, 483730, 483798, 484002, 484446, 484508, 484621, 484897, 485096, 485192, 485223, 485617, 485915, 485993, 486045, 486277, 486629, 487044, 487244, 487435, 487549, 488197, 488323, 489419, 489887, 489936, 489975, 490412, 490749, 490936, 490944, 491151, 491548, 491668, 491788, 491968, 492509, 492553, 492759, 492789, 492928, 493271, 493475, 493529, 494291, 494544, 494699, 495006, 495047, 495158, 495295, 495302, 495638, 495669, 495684, 495758, 495760, 496114, 496320, 496540, 496610, 496835, 496879, 496998, 497219, 497276, 497637, 497783, 497846, 498022, 498543, 498567, 498591, 498672, 499055, 499489, 499975, 500254, 500266, 500683, 500703, 500766, 500811, 500838, 501142, 501306, 501419, 501586, 501745, 501903, 502017, 502045, 502426, 502482, 503378, 503708, 503987, 504175, 504470, 504658, 504664, 504674, 504730, 505231, 505727, 505880, 505897, 505991, 506470, 506574, 507111, 507717, 508041, 508550, 508670, 508708, 509307, 509313, 509365, 509406, 509878, 509961, 510753, 511269, 511561, 511759, 511906, 512103, 512209, 512422, 512439, 512935, 513147, 513195, 513422, 513434, 513518, 513659, 513746, 513760, 513786, 514072, 514345, 514387, 514501, 514514, 514692, 514864, 515006, 515037, 515135, 515584, 515598, 515804, 516333, 516385, 516757, 517687, 517838, 517905, 517914, 518022, 518539, 519075, 519219, 519581, 519681, 519840, 519850, 519944, 520649, 520673, 520704, 520719, 521656, 522004, 522401, 522428, 522661, 522673, 522753, 522931, 523017, 523098, 523123, 523239, 523475, 523690, 523771, 524044, 525061, 525197, 525247, 525703, 525704, 525824, 525832, 526331, 526571, 526584, 526650, 526708, 526745, 526801, 526930, 527077, 527245, 527276, 527462, 527653, 527755, 528039, 528198, 528244, 528249, 528304, 528735, 528748, 528824, 528998, 529024, 529838, 529862, 530080, 531267, 531324, 531460, 531706, 531852, 531930, 532093, 532100, 532342, 532520, 532994, 533559, 534400, 534847, 534978, 535253, 535457, 535483, 535583, 535620, 535797, 535820, 535920, 536114, 536283, 536329, 537016, 537205, 537252, 537295, 537564,

In [19]:
df = pd.DataFrame([])
for k in weight_dict.keys():
  value = weight_dict[k]*0.9
  df2 = weight[(weight['SubjectID']== k) & (weight['weight']<= value)]
  df = pd.concat([df, df2])
df

       SubjectID  weight  feature_delta
4            329    45.8           72.0
5            329    41.1          106.0
6            329    43.4          135.0
7            329    42.6          168.0
8            329    42.7          189.0
...          ...     ...            ...
50126     997276    56.8           70.0
50243     999482    74.0          252.0
50244     999482    75.0          317.0
50245     999482    74.0          374.0
50246     999482    67.5          434.0

[2835 rows x 3 columns]

In [20]:
df = df.groupby('SubjectID').agg(['first']).reset_index()
# Coding [weight loss >=10%] event as '1'
weight_loss_1 = df.drop(columns='weight')
weight_loss_1.columns = ['SubjectID', 'time_W']
weight_loss_1['status_W'] = 1

weight_loss_1_sublist = list(weight_loss_1['SubjectID'])
print("There are",len(weight_loss_1['SubjectID'].unique()), "subjects whose status_W = 1")

There are 1269 subjects whose status_W = 1

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:3889: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [21]:
# Otherwise '0'
weight_loss_0 = weight[~weight['SubjectID'].isin(weight_loss_1_sublist)]
weight_loss_0 = weight_loss_0.groupby('SubjectID').agg(['last']).reset_index().drop(columns=('weight', 'last'))
weight_loss_0.columns = ['SubjectID', 'time_W']
weight_loss_0['status_W'] = 0
print("There are",len(Bulbar_event_0['SubjectID'].unique()), "subjects whose status_W = 0")

There are 3263 subjects whose status_W = 0

In [22]:
weight_loss_coded = pd.concat([weight_loss_1, weight_loss_0]).sort_values(by='SubjectID', axis=0)
weight_loss_coded

      SubjectID  time_W  status_W
0           329    72.0         1
0           348   401.0         0
1           708    91.0         1
1           902   154.0         0
2          1234   560.0         0
...         ...     ...       ...
3584     999166   390.0         0
1268     999482   252.0         1
3585     999823   184.0         0
3586     999880   266.0         0
3587     999990   126.0         0

[4857 rows x 3 columns]

5. Finalizing target object "time to gas, status"

In [23]:
Optimal_Gas = pd.merge(alsfrs_B_coded, weight_loss_coded, on='SubjectID', how='outer')
Optimal_Gas

      SubjectID  time_B  status_B  time_W  status_W
0           329     274         0    72.0       1.0
1           348     401         0   401.0       0.0
2           708      35         1    91.0       1.0
3           902     154         0   154.0       0.0
4          1234      11         1   560.0       0.0
...         ...     ...       ...     ...       ...
5133     999166     319         1   390.0       0.0
5134     999482      80         1   252.0       1.0
5135     999823      91         1   184.0       0.0
5136     999880     266         0   266.0       0.0
5137     999990     126         0   126.0       0.0

[5138 rows x 5 columns]

In [24]:
df_3 = list([])
df_4 = list([])
for i in range(0, 5138):
  if (Optimal_Gas.iloc[i]['status_B']!=1) and (Optimal_Gas.iloc[i]['status_W']==1):
    df_3.append(Optimal_Gas.iloc[i]['time_W'])
    df_4.append(1)
  elif (Optimal_Gas.iloc[i]['status_B']==1) and (Optimal_Gas.iloc[i]['status_W']!=1):
    df_3.append(Optimal_Gas.iloc[i]['time_B'])
    df_4.append(1)
  elif (Optimal_Gas.iloc[i]['status_B']==1) and (Optimal_Gas.iloc[i]['status_W']==1):
    df_3.append(min([Optimal_Gas.iloc[i]['time_B'], Optimal_Gas.iloc[i]['time_W']]))
    df_4.append(1)
  else:
    df_3.append(max([Optimal_Gas.iloc[i]['time_B'], Optimal_Gas.iloc[i]['time_W']]))
    df_4.append(0)

In [25]:
Optimal_Gas['time_to_gas'] = df_3
Optimal_Gas['status'] = df_4
Optimal_Gas

      SubjectID  time_B  status_B  time_W  status_W  time_to_gas  status
0           329     274         0    72.0       1.0         72.0       1
1           348     401         0   401.0       0.0        401.0       0
2           708      35         1    91.0       1.0         35.0       1
3           902     154         0   154.0       0.0        154.0       0
4          1234      11         1   560.0       0.0         11.0       1
...         ...     ...       ...     ...       ...          ...     ...
5133     999166     319         1   390.0       0.0        319.0       1
5134     999482      80         1   252.0       1.0         80.0       1
5135     999823      91         1   184.0       0.0         91.0       1
5136     999880     266         0   266.0       0.0        266.0       0
5137     999990     126         0   126.0       0.0        126.0       0

[5138 rows x 7 columns]

### Preprocessing Features

1. ALSFRS_Q

In [26]:
extent = list(Optimal_Gas['SubjectID'])

In [27]:
alsfrs_raw = alsfrs_orig.copy()

In [28]:
alsfrs_raw.query("SubjectID == {0}".format(extent), inplace=True)
alsfrs_raw.query("feature_delta < 92", inplace=True)
alsfrs_raw.drop(columns=['Q5a_Cutting_without_Gastrostomy', 'Q5b_Cutting_with_Gastrostomy'], inplace=True)

In [29]:
alsfrs_raw['Bulbar'] = alsfrs_raw['mouth'] - alsfrs_raw['Q2_Salivation']
alsfrs_raw['motor'] = alsfrs_raw['hands'] + alsfrs_raw['trunk'] + alsfrs_raw['leg']

In [30]:
alsfrs_raw

       SubjectID  feature_delta  ALSFRS_Total  ...  respiratory  Bulbar  motor
0            329              0          27.0  ...          3.0     8.0   13.0
1            329              8          26.5  ...          3.0     8.0   12.5
2            329             16          26.0  ...          3.0     8.0   12.0
3            329             42          30.0  ...          4.0     8.0   15.0
4            329             72          30.0  ...          3.0     8.0   16.0
...          ...            ...           ...  ...          ...     ...    ...
59246     999880             49          24.0  ...          4.0     8.0    8.0
59247     999880             70          25.0  ...          4.0     8.0    9.0
59255     999990             12          22.0  ...          4.0     7.0    7.0
59256     999990             40          19.0  ...          4.0     7.0    4.0
59257     999990             68          19.0  ...          4.0     7.0    4.0

[16299 rows x 20 columns]

In [31]:
df = alsfrs_raw.groupby('SubjectID').agg('mean')
df.drop(columns=['feature_delta','mouth', 'hands', 'leg', 'trunk', 'respiratory'], inplace=True)
df = df.reset_index()

In [32]:
df.columns=['SubjectID', 'mean_alsfrs_total', 'mean_Q1_Speech', 'mean_Q2_Salivation', 'mean_Q3_Swallowing', 'mean_Q4_Handwriting', 'mean_Q5_Cutting', 'mean_Q6_Dressing_and_Hygiene', 'mean_Q7_Turning_in_Bed', 'mean_Q8_Walking', 'mean_Q9_Climbing_Stairs', 'mean_Q10_Respiratory', 'mean_Bulbar', 'mean_motor']

In [33]:
mean_alsfrs_scores = df.copy()
mean_alsfrs_scores = mean_alsfrs_scores.sort_values(by=['SubjectID'], axis=0, ascending=True)
mean_alsfrs_scores

      SubjectID  mean_alsfrs_total  ...  mean_Bulbar  mean_motor
0           329              27.90  ...     8.000000   13.700000
1           348              30.25  ...     8.000000   14.250000
2           708              32.25  ...     5.666667   20.916667
3           902              32.25  ...     7.250000   18.250000
4          1234              21.25  ...     6.000000    8.250000
...         ...                ...  ...          ...         ...
5131     999166              35.00  ...     7.000000   21.000000
5132     999482              36.25  ...     6.500000   23.000000
5133     999823              35.25  ...     5.500000   22.750000
5134     999880              24.20  ...     8.000000    8.200000
5135     999990              20.00  ...     7.000000    5.000000

[5136 rows x 14 columns]

In [34]:
df3 = alsfrs_raw.groupby('SubjectID').agg(['first', 'last'])
df3['interval'] = df3.iloc[:, 1] - df3.iloc[:, 0]
df3['slope_alsfrs_total'] = (df3.iloc[:,3] - df3.iloc[:,2])/df3['interval']
df3['slope_Q1_Speech'] = (df3.iloc[:,5] - df3.iloc[:,4])/df3['interval']
df3['slope_Q2_Salivation'] = (df3.iloc[:,7] - df3.iloc[:,6])/df3['interval']
df3['slope_Q3_Swallowing'] = (df3.iloc[:,9] - df3.iloc[:,8])/df3['interval']
df3['slope_Q4_Handwriting'] = (df3.iloc[:,11] - df3.iloc[:,10])/df3['interval']
df3['slope_Q5_Cutting'] = (df3.iloc[:,13] - df3.iloc[:,12])/df3['interval']
df3['slope_Q6_Dressing_and_Hygiene'] = (df3.iloc[:,15] - df3.iloc[:,14])/df3['interval']
df3['slope_Q7_Turning_in_Bed'] = (df3.iloc[:,17] - df3.iloc[:,15])/df3['interval']
df3['slope_Q8_Walking'] = (df3.iloc[:,19] - df3.iloc[:,18])/df3['interval']
df3['slope_Q9_Climbing_Stairs'] = (df3.iloc[:,21] - df3.iloc[:,20])/df3['interval']
df3['slope_Q10_Respiratory'] = (df3.iloc[:,23] - df3.iloc[:,22])/df3['interval']
df3['slope_Bulbar'] = (df3.iloc[:,35] - df3.iloc[:,34])/df3['interval']
df3['slope_motor'] = (df3.iloc[:,37] - df3.iloc[:,36])/df3['interval']

In [35]:
df4 = df3.iloc[:, 39:]
df4 = df4.reset_index()

In [36]:
slope_alsfrs_scores = df4.copy()
slope_alsfrs_scores = slope_alsfrs_scores.sort_values(by=['SubjectID'], axis=0, ascending=True)
slope_alsfrs_scores

     SubjectID slope_alsfrs_total  ... slope_Bulbar slope_motor
                                   ...
0          329           0.041667  ...     0.000000    0.041667
1          348          -0.016393  ...     0.000000   -0.016393
2          708          -0.021978  ...    -0.010989    0.010989
3          902          -0.035714  ...     0.011905   -0.035714
4         1234           0.000000  ...     0.000000    0.000000
...        ...                ...  ...          ...         ...
5131    999166                NaN  ...          NaN         NaN
5132    999482          -0.037500  ...    -0.025000    0.000000
5133    999823          -0.024390  ...    -0.024390    0.000000
5134    999880           0.014286  ...     0.000000    0.014286
5135    999990          -0.053571  ...     0.000000   -0.053571

[5136 rows x 14 columns]

In [37]:
alsfrs_tot_slope = slope_alsfrs_scores.sort_values(by=['SubjectID'], axis=0, ascending=True)
alsfrs_tot_slope = alsfrs_tot_slope.reset_index()

In [38]:
alsfrs_tot_slope.iloc[:,1:]

     SubjectID slope_alsfrs_total  ... slope_Bulbar slope_motor
                                   ...
0          329           0.041667  ...     0.000000    0.041667
1          348          -0.016393  ...     0.000000   -0.016393
2          708          -0.021978  ...    -0.010989    0.010989
3          902          -0.035714  ...     0.011905   -0.035714
4         1234           0.000000  ...     0.000000    0.000000
...        ...                ...  ...          ...         ...
5131    999166                NaN  ...          NaN         NaN
5132    999482          -0.037500  ...    -0.025000    0.000000
5133    999823          -0.024390  ...    -0.024390    0.000000
5134    999880           0.014286  ...     0.000000    0.014286
5135    999990          -0.053571  ...     0.000000   -0.053571

[5136 rows x 14 columns]

In [39]:
df1 = mean_alsfrs_scores
df2 = alsfrs_tot_slope.iloc[:,2:]

alsfrs_q = pd.concat([df1, df2], axis=1)
alsfrs_q.columns = ['SubjectID','mean_alsfrs_total','mean_Q1_Speech','mean_Q2_Salivation','mean_Q3_Swallowing','mean_Q4_Handwriting','mean_Q5_Cutting','mean_Q6_Dressing_and_Hygiene',
'mean_Q7_Turning_in_Bed','mean_Q8_Walking','mean_Q9_Climbing_Stairs','mean_Q10_Respiratory','mean_Bulbar','mean_motor','slope_alsfrs_tot','slope_Q1_Speech',
'slope_Q2_Salivation','slope_Q3_Swallowing','slope_Q4_Handwriting','slope_Q5_Cutting','slope_Q6_Dressing_and_Hygiene','slope_Q7_Turning_in_Bed','slope_Q8_Walking','slope_Q9_Climbing_Stairs','slope_Q10_Respiratory',
'slope_Bulbar','slope_motor']
alsfrs_q

      SubjectID  mean_alsfrs_total  ...  slope_Bulbar  slope_motor
0           329              27.90  ...      0.000000     0.041667
1           348              30.25  ...      0.000000    -0.016393
2           708              32.25  ...     -0.010989     0.010989
3           902              32.25  ...      0.011905    -0.035714
4          1234              21.25  ...      0.000000     0.000000
...         ...                ...  ...           ...          ...
5131     999166              35.00  ...           NaN          NaN
5132     999482              36.25  ...     -0.025000     0.000000
5133     999823              35.25  ...     -0.024390     0.000000
5134     999880              24.20  ...      0.000000     0.014286
5135     999990              20.00  ...      0.000000    -0.053571

[5136 rows x 27 columns]

2. Static features & Time resolved features

In [40]:
demographics = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/본 실험/demographic.csv')
als_hx = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/본 실험/als_hx.csv')
fvc_3mo = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/본 실험/fvc_3mo_meta.csv')

In [41]:
demographics = demographics[['SubjectID', 'Age', 'Gender']]
als_hx['diag_minus_onset'] = als_hx['diag_delta'] - als_hx['onset_delta']

In [42]:
static = pd.DataFrame(columns=['SubjectID'])
static_list = [demographics, als_hx]
for i in static_list :
    df = i
    static = static.merge(df, on='SubjectID', how='outer')

In [43]:
fvc_3mo = fvc_3mo[['SubjectID','fvc_slope', 'fvc_mean']]

3. Merge features

In [44]:
features_1 = static.merge(fvc_3mo, on='SubjectID', how='outer')
features_1.query("SubjectID == {0}".format(extent), inplace=True)
features_1 = features_1.reset_index().drop(columns='index')

In [45]:
features = features_1.merge(alsfrs_q, on='SubjectID', how='outer')
features

      SubjectID   Age Gender  ...  slope_Q10_Respiratory  slope_Bulbar slope_motor
0           329  38.0      F  ...               0.000000      0.000000    0.041667
1           348  52.0      F  ...               0.000000      0.000000   -0.016393
2           708  46.0      M  ...              -0.010989     -0.010989    0.010989
3           902  77.0      F  ...              -0.011905      0.011905   -0.035714
4          1234  38.0      M  ...               0.000000      0.000000    0.000000
...         ...   ...    ...  ...                    ...           ...         ...
5133     999166  60.0      M  ...                    NaN           NaN         NaN
5134     999482  48.0      M  ...               0.000000     -0.025000    0.000000
5135     999823  55.0      M  ...               0.000000     -0.024390    0.000000
5136     999880  51.0      M  ...               0.000000      0.000000    0.014286
5137     999990  60.0      F  ...               0.000000      0.000000   -0.053571

[5138 rows x 35 columns]

In [46]:
Gend = {"F":0, "M":1}
onsetsite = {"Other":0, "Bulbar":1, "Limb":0, "Limb and Bulbar":0}
# Bubar_onset = 1, non-Bulbar_onset = 0

In [47]:
features = features.replace({'Gender':Gend})
features = features.replace({'onset_site':onsetsite})
features

      SubjectID   Age  Gender  ...  slope_Q10_Respiratory  slope_Bulbar  slope_motor
0           329  38.0       0  ...               0.000000      0.000000     0.041667
1           348  52.0       0  ...               0.000000      0.000000    -0.016393
2           708  46.0       1  ...              -0.010989     -0.010989     0.010989
3           902  77.0       0  ...              -0.011905      0.011905    -0.035714
4          1234  38.0       1  ...               0.000000      0.000000     0.000000
...         ...   ...     ...  ...                    ...           ...          ...
5133     999166  60.0       1  ...                    NaN           NaN          NaN
5134     999482  48.0       1  ...               0.000000     -0.025000     0.000000
5135     999823  55.0       1  ...               0.000000     -0.024390     0.000000
5136     999880  51.0       1  ...               0.000000      0.000000     0.014286
5137     999990  60.0       0  ...               0.000000      0.000000    -0.053571

[5138 rows x 35 columns]

In [48]:
Optimal_Gas = Optimal_Gas[['SubjectID', 'time_to_gas', 'status']]
feat_n_targ_combined_with_nans = features.merge(Optimal_Gas, on='SubjectID', how='outer')
feat_n_targ_combined_with_nans

      SubjectID   Age  Gender  ...  slope_motor  time_to_gas  status
0           329  38.0       0  ...     0.041667         72.0       1
1           348  52.0       0  ...    -0.016393        401.0       0
2           708  46.0       1  ...     0.010989         35.0       1
3           902  77.0       0  ...    -0.035714        154.0       0
4          1234  38.0       1  ...     0.000000         11.0       1
...         ...   ...     ...  ...          ...          ...     ...
5133     999166  60.0       1  ...          NaN        319.0       1
5134     999482  48.0       1  ...     0.000000         80.0       1
5135     999823  55.0       1  ...     0.000000         91.0       1
5136     999880  51.0       1  ...     0.014286        266.0       0
5137     999990  60.0       0  ...    -0.053571        126.0       0

[5138 rows x 37 columns]

4. Remove rows "onset_delta = NaN"

In [49]:
data = feat_n_targ_combined_with_nans.copy()

In [50]:
data = data[['SubjectID', 'onset_delta']]

In [51]:
data2 = data.dropna(subset=['onset_delta'])
extent2 = list(data2["SubjectID"].unique())

In [62]:
feat_n_targ_combined_with_nans = feat_n_targ_combined_with_nans.query("SubjectID == {0}".format(extent2))
feat_n_targ_combined_with_nans = feat_n_targ_combined_with_nans[feat_n_targ_combined_with_nans.replace([np.inf, -np.inf], np.nan).notnull().all(axis=1)]
feat_n_targ_combined_with_nans

      SubjectID   Age  Gender  ...  slope_motor  time_to_gas  status
0           329  38.0       0  ...     0.041667         72.0       1
2           708  46.0       1  ...     0.010989         35.0       1
3           902  77.0       0  ...    -0.035714        154.0       0
6          1736  41.0       1  ...    -0.062500         48.0       1
7          2492  63.0       1  ...     0.000000        401.0       0
...         ...   ...     ...  ...          ...          ...     ...
5127     998542  70.0       1  ...     0.000000         21.0       0
5128     998756  64.0       1  ...     0.000000         35.0       1
5135     999823  55.0       1  ...     0.000000         91.0       1
5136     999880  51.0       1  ...     0.014286        266.0       0
5137     999990  60.0       0  ...    -0.053571        126.0       0

[2328 rows x 37 columns]

### Data imputation

In [59]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn import linear_model

In [63]:
X = feat_n_targ_combined_with_nans

In [64]:
columns = X.columns
imputer = IterativeImputer(sample_posterior = True)
ar = imputer.fit_transform(X)
X_imputed = pd.DataFrame(ar, columns = columns)

In [65]:
X_imputed

      SubjectID   Age  Gender  ...  slope_motor  time_to_gas  status
0         329.0  38.0     0.0  ...     0.041667         72.0     1.0
1         708.0  46.0     1.0  ...     0.010989         35.0     1.0
2         902.0  77.0     0.0  ...    -0.035714        154.0     0.0
3        1736.0  41.0     1.0  ...    -0.062500         48.0     1.0
4        2492.0  63.0     1.0  ...     0.000000        401.0     0.0
...         ...   ...     ...  ...          ...          ...     ...
2323   998542.0  70.0     1.0  ...     0.000000         21.0     0.0
2324   998756.0  64.0     1.0  ...     0.000000         35.0     1.0
2325   999823.0  55.0     1.0  ...     0.000000         91.0     1.0
2326   999880.0  51.0     1.0  ...     0.014286        266.0     0.0
2327   999990.0  60.0     0.0  ...    -0.053571        126.0     0.0

[2328 rows x 37 columns]