In [ ]:
import numpy as np
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler

In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving _0411_all_features_with_nans(target included).csv to _0411_all_features_with_nans(target included).csv

In [ ]:
import io
X = pd.read_csv(io.BytesIO(uploaded['_0411_all_features_with_nans(target included).csv']))

In [ ]:
X_num = X.copy()
X_num.drop(columns = ['Unnamed: 0', 'SubjectID','Gender','Race','family_ALS_hist','onset_site','if_use_Riluzole','treatment_group'], inplace = True)
X_cat = X[['SubjectID', 'Gender', 'Race', 'family_ALS_hist', 'if_use_Riluzole', 'treatment_group', 'onset_site']]
X_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SubjectID        1650 non-null   int64
 1   Gender           1650 non-null   int64
 2   Race             1650 non-null   object
 3   family_ALS_hist  369 non-null    object
 4   if_use_Riluzole  1247 non-null   float64
 5   treatment_group  1477 non-null   float64
 6   onset_site       1650 non-null   int64
dtypes: float64(2), int64(3), object(2)
memory usage: 90.4+ KB

##Impute Categorical variable

In [ ]:
mm = MinMaxScaler()

def find_category_mappings(data, variable):
    return {k: i for i, k in enumerate(data[variable].dropna().unique(), 0)}

def integer_encode(data , variable, ordinal_mapping):
    data[variable] = data[variable].map(ordinal_mapping)

mappin = dict()
def imputation(data1 , cols):
    data = data1.copy()
    #Encoding dict &amp; Removing nan    
    #mappin = dict()
    for variable in cols:
        mappings = find_category_mappings(data, variable)
        mappin[variable] = mappings

    #Apply mapping
    for variable in cols:
        integer_encode(data, variable, mappin[variable])  

    #Minmaxscaler and KNN imputation 
    sca = mm.fit_transform(data)
    knn_imputer = KNNImputer()
    knn = knn_imputer.fit_transform(sca)
    data.iloc[:,:] = mm.inverse_transform(knn)
    for i in data.columns : 
        data[i] = round(data[i]).astype('int')

    #Inverse transform
    for i in cols:
        inv_map = {v: k for k, v in mappin[i].items()}
        data[i] = data[i].map(inv_map)
    return data


#Imputation
X_cat_imp = imputation(X_cat,['Gender', 'Race', 'family_ALS_hist', 'if_use_Riluzole', 'treatment_group', 'onset_site'])

In [ ]:
X_cat_imp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SubjectID        1650 non-null   int64
 1   Gender           1650 non-null   int64
 2   Race             1650 non-null   object
 3   family_ALS_hist  1650 non-null   object
 4   if_use_Riluzole  1650 non-null   float64
 5   treatment_group  1650 non-null   float64
 6   onset_site       1650 non-null   int64
dtypes: float64(2), int64(3), object(2)
memory usage: 90.4+ KB

##Impute Numerical variable

In [ ]:
columns = X_num.columns
imputer = IterativeImputer(sample_posterior = True, random_state = 10)
ar = imputer.fit_transform(X_num)
X_num_imp = pd.DataFrame(ar, columns = columns)

In [ ]:
X_num_imp

       Age  diag_delta  onset_delta  ...  slope_Bulbar  slope_motor  ALSFRS_slope
0     52.0      -302.0       -501.0  ...      0.000000    -0.016393     -0.341760
1     65.0       -44.0      -1023.0  ...     -0.010989     0.010989     -0.965608
2     66.0      -462.0       -550.0  ...     -0.014493     0.000000     -0.569600
3     41.0      -511.0       -570.0  ...     -0.020833    -0.062500     -1.183528
4     63.0      -209.0       -365.0  ...      0.000000     0.000000     -0.598361
...    ...         ...          ...  ...           ...          ...           ...
1645  43.0      -293.0       -673.0  ...      0.000000    -0.025641     -1.298932
1646  70.0      -181.0       -332.0  ...     -0.028169    -0.042254     -0.569600
1647  46.0      -212.0       -274.0  ...     -0.011765    -0.058824     -1.382576
1648  62.0      -110.0       -288.0  ...      0.000000     0.000000     -0.434524
1649  61.0      -134.0       -449.0  ...     -0.014085     0.000000     -0.757711

[1650 rows x 63 columns]

##Final imputed data

In [ ]:
X_imp = pd.concat([X_cat_imp, X_num_imp], axis = 1)
X_imp['diag_minus_onset'] = X_imp['diag_delta']- X_imp['onset_delta']
X_imp

      SubjectID  Gender Race  ... slope_motor  ALSFRS_slope  diag_minus_onset
0           348       0    0  ...   -0.016393     -0.341760             199.0
1           533       0    0  ...    0.010989     -0.965608             979.0
2          1064       0    0  ...    0.000000     -0.569600              88.0
3          1736       1    0  ...   -0.062500     -1.183528              59.0
4          2492       1    0  ...    0.000000     -0.598361             156.0
...         ...     ...  ...  ...         ...           ...               ...
1645     994853       1    0  ...   -0.025641     -1.298932             380.0
1646     994895       1    0  ...   -0.042254     -0.569600             151.0
1647     995893       0    0  ...   -0.058824     -1.382576              62.0
1648     996611       1    0  ...    0.000000     -0.434524             178.0
1649     996711       0    0  ...    0.000000     -0.757711             315.0

[1650 rows x 71 columns]

##Concatenate feature data & survival data

In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving survival.csv to survival.csv

In [ ]:
import io
surv = pd.read_csv(io.BytesIO(uploaded['survival.csv']))

In [ ]:
extent = list(surv['SubjectID'].unique())
X_imp_filt = X_imp.query("SubjectID == {0}".format(extent))
X_imp_surv = X_imp_filt.merge(surv, how = 'inner')
X_imp_surv

      SubjectID  Gender Race  ... diag_minus_onset  time_event  status
0           348       0    0  ...            199.0         401       0
1           533       0    0  ...            979.0         378       0
2          1064       0    0  ...             88.0         434       0
3          1736       1    0  ...             59.0         542       0
4          2492       1    0  ...            156.0         401       0
...         ...     ...  ...  ...              ...         ...     ...
1645     994853       1    0  ...            380.0         384       0
1646     994895       1    0  ...            151.0         436       0
1647     995893       0    0  ...             62.0         410       0
1648     996611       1    0  ...            178.0         444       0
1649     996711       0    0  ...            315.0         471       0

[1650 rows x 73 columns]

##Select feature

In [ ]:
X_imp_surv = X_imp_surv[['Age', 'Gender', 'onset_site', 'onset_delta', 'diag_delta', 'diag_minus_onset',
        'mean_alsfrs_total', 'alsfrs_total_slope',
       'fvc_slope', 'fvc_mean', 'mean_Q1_Speech', 'mean_Q2_Salivation',
       'mean_Q3_Swallowing', 'mean_Q4_Handwriting', 'mean_Q5_Cutting',
       'mean_Q6_Dressing_and_Hygiene', 'mean_Q7_Turning_in_Bed',
       'mean_Q8_Walking', 'mean_Q9_Climbing_Stairs', 'mean_Q10_Respiratory',
       'mean_Bulbar', 'mean_motor', 'slope_Q1_Speech', 'slope_Q2_Salivation',
       'slope_Q3_Swallowing', 'slope_Q4_Handwriting', 'slope_Q5_Cutting',
       'slope_Q6_Dressing_and_Hygiene', 'slope_Q7_Turning_in_Bed',
       'slope_Q8_Walking', 'slope_Q9_Climbing_Stairs', 'slope_Q10_Respiratory',
       'slope_Bulbar', 'slope_motor','time_event','status']]

In [ ]:
X_imp_surv

       Age  Gender  onset_site  ...  slope_motor  time_event  status
0     52.0       0           0  ...    -0.016393         401       0
1     65.0       0           1  ...     0.010989         378       0
2     66.0       0           1  ...     0.000000         434       0
3     41.0       1           2  ...    -0.062500         542       0
4     63.0       1           2  ...     0.000000         401       0
...    ...     ...         ...  ...          ...         ...     ...
1645  43.0       1           2  ...    -0.025641         384       0
1646  70.0       1           1  ...    -0.042254         436       0
1647  46.0       0           1  ...    -0.058824         410       0
1648  62.0       1           2  ...     0.000000         444       0
1649  61.0       0           1  ...     0.000000         471       0

[1650 rows x 36 columns]

##Get dummy variable

In [ ]:
X_imp_surv_dummy = pd.get_dummies(X_imp_surv, columns = ['onset_site'],drop_first=True)
X_imp_surv_dummy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1650 entries, 0 to 1649
Data columns (total 38 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Age                            1650 non-null   float64
 1   Gender                         1650 non-null   int64
 2   onset_delta                    1650 non-null   float64
 3   diag_delta                     1650 non-null   float64
 4   diag_minus_onset               1650 non-null   float64
 5   mean_alsfrs_total              1650 non-null   float64
 6   alsfrs_total_slope             1650 non-null   float64
 7   fvc_slope                      1650 non-null   float64
 8   fvc_mean                       1650 non-null   float64
 9   mean_Q1_Speech                 1650 non-null   float64
 10  mean_Q2_Salivation             1650 non-null   float64
 11  mean_Q3_Swallowing             1650 non-null   float64
 12  mean_Q4_Handwriting            1650 non-null   float64
 13  mean_Q5_Cutting                1650 non-null   float64
 14  mean_Q6_Dressing_and_Hygiene   1650 non-null   float64
 15  mean_Q7_Turning_in_Bed         1650 non-null   float64
 16  mean_Q8_Walking                1650 non-null   float64
 17  mean_Q9_Climbing_Stairs        1650 non-null   float64
 18  mean_Q10_Respiratory           1650 non-null   float64
 19  mean_Bulbar                    1650 non-null   float64
 20  mean_motor                     1650 non-null   float64
 21  slope_Q1_Speech                1650 non-null   float64
 22  slope_Q2_Salivation            1650 non-null   float64
 23  slope_Q3_Swallowing            1650 non-null   float64
 24  slope_Q4_Handwriting           1650 non-null   float64
 25  slope_Q5_Cutting               1650 non-null   float64
 26  slope_Q6_Dressing_and_Hygiene  1650 non-null   float64
 27  slope_Q7_Turning_in_Bed        1650 non-null   float64
 28  slope_Q8_Walking               1650 non-null   float64
 29  slope_Q9_Climbing_Stairs       1650 non-null   float64
 30  slope_Q10_Respiratory          1650 non-null   float64
 31  slope_Bulbar                   1650 non-null   float64
 32  slope_motor                    1650 non-null   float64
 33  time_event                     1650 non-null   int64
 34  status                         1650 non-null   int64
 35  onset_site_1                   1650 non-null   uint8
 36  onset_site_2                   1650 non-null   uint8
 37  onset_site_3                   1650 non-null   uint8
dtypes: float64(32), int64(3), uint8(3)
memory usage: 468.9 KB

In [ ]:
X_imp_surv_dummy.to_csv('_0415_features_without_nans_survival.csv')

In [ ]:
!ls

'_0411_all_features_with_nans(target included).csv'   sample_data
 _0415_features_without_nans_survival		      survival.csv
 _0415_features_without_nans_survival.csv

In [ ]:
files.download('_0415_features_without_nans_survival.csv')