In [ ]:
import pandas as pd

In [ ]:
alsfrs_raw = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/예비실험 5/ALSFRS_original.csv')
X_and_y = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/예비실험 5/feature_and_target_for_MI.csv')
alsfrs_tot_slope = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/예비실험 5/ALSFRS_slope.csv')

### 1. Adding ALSFRS_Q features

In [ ]:
extent = list(alsfrs_tot_slope["SubjectID"].unique())

In [ ]:
alsfrs_raw.query("SubjectID == {0}".format(extent), inplace=True)

In [ ]:
alsfrs_raw.query("feature_delta < 92", inplace=True)

In [ ]:
alsfrs_raw.drop(columns=['Q5a_Cutting_without_Gastrostomy', 'Q5b_Cutting_with_Gastrostomy'], inplace=True)

In [ ]:
alsfrs_raw['Bulbar'] = alsfrs_raw['mouth'] - alsfrs_raw['Q2_Salivation']

In [ ]:
alsfrs_raw['motor'] = alsfrs_raw['hands'] + alsfrs_raw['trunk'] + alsfrs_raw['leg']

1-1. mean value

In [ ]:
df = alsfrs_raw.groupby('SubjectID').agg('mean')
df.drop(columns=['feature_delta','mouth', 'hands', 'leg', 'trunk', 'respiratory'], inplace=True)

In [ ]:
df = df.reset_index()

In [ ]:
df.columns=['SubjectID', 'mean_alsfrs_total', 'mean_Q1_Speech', 'mean_Q2_Salivation', 'mean_Q3_Swallowing', 'mean_Q4_Handwriting', 'mean_Q5_Cutting', 'mean_Q6_Dressing_and_Hygiene', 'mean_Q7_Turning_in_Bed', 'mean_Q8_Walking', 'mean_Q9_Climbing_Stairs', 'mean_Q10_Respiratory', 'mean_Bulbar', 'mean_motor']

In [ ]:
mean_alsfrs_scores = df.copy()
mean_alsfrs_scores = mean_alsfrs_scores.sort_values(by=['SubjectID'], axis=0, ascending=True)
mean_alsfrs_scores

      SubjectID  mean_alsfrs_total  ...  mean_Bulbar  mean_motor
0           348          30.250000  ...     8.000000   14.250000
1           533          28.666667  ...     3.000000   21.333333
2           649          35.666667  ...     5.666667   23.000000
3          1064          32.000000  ...     1.500000   24.000000
4          1234          21.250000  ...     6.000000    8.250000
...         ...                ...  ...          ...         ...
3091     997136          34.666667  ...     7.333333   19.333333
3092     998047          28.000000  ...     5.250000   17.250000
3093     998773          25.000000  ...     7.000000   11.333333
3094     998908          32.250000  ...     8.000000   16.250000
3095     999482          36.250000  ...     6.500000   23.000000

[3096 rows x 14 columns]

1-2. min value

In [ ]:
df2 = alsfrs_raw.groupby('SubjectID').agg('min')
df2.drop(columns=['feature_delta','mouth', 'hands', 'leg', 'trunk', 'respiratory'], inplace=True)

In [ ]:
df2 = df2.reset_index()

In [ ]:
df2.columns=['SubjectID', 'min_alsfrs_total', 'min_Q1_Speech', 'min_Q2_Salivation', 'min_Q3_Swallowing', 'min_Q4_Handwriting', 'min_Q5_Cutting', 'min_Q6_Dressing_and_Hygiene', 'min_Q7_Turning_in_Bed', 'min_Q8_Walking', 'min_Q9_Climbing_Stairs', 'min_Q10_Respiratory', 'min_Bulbar', 'min_motor']

In [ ]:
min_alsfrs_scores = df2.copy()
min_alsfrs_scores = min_alsfrs_scores.sort_values(by=['SubjectID'], axis=0, ascending=True)
min_alsfrs_scores

      SubjectID  min_alsfrs_total  ...  min_Bulbar  min_motor
0           348              30.0  ...         8.0       14.0
1           533              27.0  ...         2.0       19.0
2           649              35.0  ...         5.0       22.0
3          1064              30.0  ...         1.0       24.0
4          1234              19.0  ...         6.0        7.0
...         ...               ...  ...         ...        ...
3091     997136              34.0  ...         7.0       19.0
3092     998047              25.0  ...         5.0       16.0
3093     998773              24.0  ...         7.0       10.0
3094     998908              32.0  ...         8.0       16.0
3095     999482              34.0  ...         5.0       23.0

[3096 rows x 14 columns]

1-3. slope

In [ ]:
df3 = alsfrs_raw.groupby('SubjectID').agg(['first', 'last'])
df3['interval'] = df3.iloc[:, 1] - df3.iloc[:, 0]
df3['slope_Q1_Speech'] = (df3.iloc[:,5] - df3.iloc[:,4])/df3['interval']
df3['slope_Q2_Salivation'] = (df3.iloc[:,7] - df3.iloc[:,6])/df3['interval']
df3['slope_Q3_Swallowing'] = (df3.iloc[:,9] - df3.iloc[:,8])/df3['interval']
df3['slope_Q4_Handwriting'] = (df3.iloc[:,11] - df3.iloc[:,10])/df3['interval']
df3['slope_Q5_Cutting'] = (df3.iloc[:,13] - df3.iloc[:,12])/df3['interval']
df3['slope_Q6_Dressing_and_Hygiene'] = (df3.iloc[:,15] - df3.iloc[:,14])/df3['interval']
df3['slope_Q7_Turning_in_Bed'] = (df3.iloc[:,17] - df3.iloc[:,15])/df3['interval']
df3['slope_Q8_Walking'] = (df3.iloc[:,19] - df3.iloc[:,18])/df3['interval']
df3['slope_Q9_Climbing_Stairs'] = (df3.iloc[:,21] - df3.iloc[:,20])/df3['interval']
df3['slope_Q10_Respiratory'] = (df3.iloc[:,23] - df3.iloc[:,22])/df3['interval']
df3['slope_Bulbar'] = (df3.iloc[:,35] - df3.iloc[:,34])/df3['interval']
df3['slope_motor'] = (df3.iloc[:,37] - df3.iloc[:,36])/df3['interval']

In [ ]:
df4 = df3.iloc[:, 39:]
df4 = df4.reset_index()

In [ ]:
slope_alsfrs_scores = df4.copy()
slope_alsfrs_scores = slope_alsfrs_scores.sort_values(by=['SubjectID'], axis=0, ascending=True)
slope_alsfrs_scores

     SubjectID slope_Q1_Speech  ... slope_Bulbar slope_motor
                                ...
0          348        0.000000  ...     0.000000   -0.016393
1          533       -0.010989  ...    -0.010989    0.010989
2          649        0.000000  ...     0.016393   -0.016393
3         1064        0.000000  ...    -0.014493    0.000000
4         1234        0.000000  ...     0.000000    0.000000
...        ...             ...  ...          ...         ...
3091    997136        0.000000  ...     0.000000   -0.015152
3092    998047        0.000000  ...    -0.011494   -0.034483
3093    998773        0.000000  ...     0.000000   -0.036364
3094    998908        0.000000  ...     0.000000   -0.014706
3095    999482       -0.012500  ...    -0.025000    0.000000

[3096 rows x 13 columns]

In [ ]:
alsfrs_tot_slope = alsfrs_tot_slope.sort_values(by=['SubjectID'], axis=0, ascending=True)
alsfrs_tot_slope = alsfrs_tot_slope.reset_index()

In [ ]:
df1 = mean_alsfrs_scores.merge(min_alsfrs_scores, on='SubjectID', how='outer')
df2 = slope_alsfrs_scores.iloc[:,1:]
df3 = alsfrs_tot_slope.iloc[:, 2]

alsfrs_q_mean_min_slope = pd.concat([df1, df2, df3], axis=1)
alsfrs_q_mean_min_slope.columns = ['SubjectID','mean_alsfrs_total','mean_Q1_Speech','mean_Q2_Salivation','mean_Q3_Swallowing','mean_Q4_Handwriting','mean_Q5_Cutting','mean_Q6_Dressing_and_Hygiene',
'mean_Q7_Turning_in_Bed','mean_Q8_Walking','mean_Q9_Climbing_Stairs','mean_Q10_Respiratory','mean_Bulbar','mean_motor','min_alsfrs_total','min_Q1_Speech','min_Q2_Salivation','min_Q3_Swallowing',
'min_Q4_Handwriting','min_Q5_Cutting','min_Q6_Dressing_and_Hygiene','min_Q7_Turning_in_Bed','min_Q8_Walking','min_Q9_Climbing_Stairs','min_Q10_Respiratory','min_Bulbar','min_motor','slope_Q1_Speech',
'slope_Q2_Salivation','slope_Q3_Swallowing','slope_Q4_Handwriting','slope_Q5_Cutting','slope_Q6_Dressing_and_Hygiene','slope_Q7_Turning_in_Bed','slope_Q8_Walking','slope_Q9_Climbing_Stairs','slope_Q10_Respiratory',
'slope_Bulbar','slope_motor','ALSFRS_slope']
alsfrs_q_mean_min_slope

      SubjectID  mean_alsfrs_total  ...  slope_motor  ALSFRS_slope
0           348          30.250000  ...    -0.016393     -0.341760
1           533          28.666667  ...     0.010989     -0.965608
2           649          35.666667  ...    -0.016393     -0.921717
3          1064          32.000000  ...     0.000000     -0.569600
4          1234          21.250000  ...     0.000000     -0.914787
...         ...                ...  ...          ...           ...
3091     997136          34.666667  ...    -0.015152     -0.239501
3092     998047          28.000000  ...    -0.034483     -0.388711
3093     998773          25.000000  ...    -0.036364     -0.108631
3094     998908          32.250000  ...    -0.014706     -0.855880
3095     999482          36.250000  ...     0.000000     -2.050562

[3096 rows x 40 columns]

### 2. Selecting features

In [ ]:
X_and_y.drop(columns='Unnamed: 0', inplace=True)

In [ ]:
# Add a meta feature
X_and_y['diag_minus_onset'] = X_and_y['diag_delta'] - X_and_y['onset_delta']

In [ ]:
X_and_y_mean_version = X_and_y[['Age', 'Gender', 'onset_site', 'onset_delta', 'diag_delta', 'diag_minus_onset', 'mean_alsfrs_total' ,'alsfrs_total_slope', 'fvc_slope', 'fvc_mean']]
X_and_y_min_version = X_and_y[['Age', 'Gender', 'onset_site', 'onset_delta', 'diag_delta', 'diag_minus_onset', 'min_alsfrs_total' ,'alsfrs_total_slope', 'fvc_slope', 'fvc_min']]

In [ ]:
df_mean = mean_alsfrs_scores.iloc[:, 2:]
df_min = min_alsfrs_scores.iloc[:, 2:]
id_list = alsfrs_q_mean_min_slope[['SubjectID']]

In [ ]:
mean_ver_features_and_target = pd.concat([id_list, X_and_y_mean_version, df_mean, df3], axis=1)
min_ver_features_and_target = pd.concat([id_list, X_and_y_min_version, df_min, df3], axis=1)

In [ ]:
Gend = {"F":0, "M":1}
os = {"Other":0, "Bulbar":1, "Limb":2, "Limb and Bulbar":3}

In [ ]:
mean_ver_features_and_target = mean_ver_features_and_target.replace({'Gender':Gend})
min_ver_features_and_target = min_ver_features_and_target.replace({'Gender':Gend})

In [ ]:
mean_ver_features_and_target = mean_ver_features_and_target.replace({'onset_site':os})
min_ver_features_and_target = min_ver_features_and_target.replace({'onset_site':os})

### 3. Remove rows "onset_delta = NaN"

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/예비실험 5/features_and_target_with_nans_full.csv')

In [ ]:
data = data[['SubjectID', 'onset_delta']]

In [ ]:
data2 = data.dropna(subset=['onset_delta'])

In [ ]:
extent2 = list(data2["SubjectID"].unique())

In [ ]:
mean_ver_filtered = mean_ver_features_and_target.query("SubjectID == {0}".format(extent2))
min_ver_filtered = min_ver_features_and_target.query("SubjectID == {0}".format(extent2))

In [ ]:
mean_ver_filtered

      SubjectID   Age  Gender  ...  mean_Bulbar  mean_motor  ALSFRS_slope
0           348  52.0       0  ...         8.00   14.250000     -0.341760
1           533  65.0       0  ...         3.00   21.333333     -0.965608
3          1064  66.0       0  ...         1.50   24.000000     -0.569600
5          1736  41.0       1  ...         5.50    4.500000     -1.183528
6          2492  63.0       1  ...         8.00   15.000000     -0.598361
...         ...   ...     ...  ...          ...         ...           ...
3082     994853  43.0       1  ...         6.00    9.000000     -1.298932
3083     994895  70.0       1  ...         3.75   21.000000     -0.569600
3087     995893  46.0       0  ...         4.50    8.750000     -1.382576
3089     996611  62.0       1  ...         8.00   20.000000     -0.434524
3090     996711  61.0       0  ...         5.00   24.000000     -0.757711

[1653 rows x 24 columns]

In [ ]:
slope_alsfrs_scores_filtered = slope_alsfrs_scores[slope_alsfrs_scores['SubjectID'].isin(extent2)]

In [ ]:
extent3 = list(slope_alsfrs_scores_filtered.dropna()['SubjectID'].unique())

In [ ]:
slope_alsfrs_scores_filtered = slope_alsfrs_scores_filtered.dropna()

In [ ]:
mean_ver_filtered = mean_ver_features_and_target.query("SubjectID == {0}".format(extent3))
min_ver_filtered = min_ver_features_and_target.query("SubjectID == {0}".format(extent3))

In [ ]:
mean_ver_filtered

      SubjectID   Age  Gender  ...  mean_Bulbar  mean_motor  ALSFRS_slope
0           348  52.0       0  ...         8.00   14.250000     -0.341760
1           533  65.0       0  ...         3.00   21.333333     -0.965608
3          1064  66.0       0  ...         1.50   24.000000     -0.569600
5          1736  41.0       1  ...         5.50    4.500000     -1.183528
6          2492  63.0       1  ...         8.00   15.000000     -0.598361
...         ...   ...     ...  ...          ...         ...           ...
3082     994853  43.0       1  ...         6.00    9.000000     -1.298932
3083     994895  70.0       1  ...         3.75   21.000000     -0.569600
3087     995893  46.0       0  ...         4.50    8.750000     -1.382576
3089     996611  62.0       1  ...         8.00   20.000000     -0.434524
3090     996711  61.0       0  ...         5.00   24.000000     -0.757711

[1650 rows x 24 columns]

In [ ]:
mean_ver_filtered.to_csv('/content/drive/MyDrive/Colab Notebooks/예비실험 5/mean_ver_filtered.csv')
min_ver_filtered.to_csv('/content/drive/MyDrive/Colab Notebooks/예비실험 5/min_ver_filtered.csv')

In [ ]:
slope_alsfrs_scores_filtered.to_csv('/content/drive/MyDrive/Colab Notebooks/예비실험 5/slope_alsfrs_scores_filtered.csv')